
<%= form_with(model: @collection,data: {
  controller: "nested-form",nested_form_wrapper_selector_value: '.nested-form-wrapper'
}, local: true) do |form| %>
  <% if @collection.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>
      <ul>
        <% @collection.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <ul>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </ul>
    <ul>
    <%= form.label :category %>
    <%=form.select :category,Collection::VALID_CATEGORIES.map {|type| [type.humanize,type]}%>
    </ul>
    
    <ul>
      <%= form.label :description %>
      <%= form.rich_text_area :description %>
    </ul>
    

    <template data-nested-form-target="template">
    <%= form.fields_for :fields, Field.new, child_index: "NEW_RECORD" do |field| %>
      <%= render "collections/field_fields", f: field %>
    <% end %>
  </template>

  <%= form.fields_for :fields do |field| %>
    <%= render "collections/field_fields", f: field %>
  <% end %>
  <div data-nested-form-target="target"></div>
  <button type="button" data-action="nested-form#add">Add Field</button>

  
        

  
  <div>
    <%= form.submit %>
  </div>
<% end %>
