<%= form_with(model: @collection, local: true) do |form| %>
  <% if @collection.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>
      <ul>
        <% @collection.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <ul>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </ul>
    <ul>
    <%= form.label :category %>
    <%=form.select :category,Collection::VALID_CATEGORIES.map {|type| [type.humanize,type]}%>
    </ul>
    
    <ul>
      <%= form.label :description %>
      <%= form.rich_text_area :description %>
    </ul>

    
    <div id="existing_fields">
      <%= form.fields_for :fields do |field_form| %>
        <%= render 'field_fields', form: field_form %>
        <%= field_form.check_box :_destroy %> Remove
      <% end %>
    </div>

   
    <div id="new_fields">
    </div>

   
    <template id="field_template">
      <%= form.fields_for :fields, Field.new, child_index: 'NEW_RECORD' do |field_form| %>
        <div class="nested-fields">
          <%= render 'field_fields', form: field_form %>
          <%= field_form.hidden_field :_destroy %>
          <button type="button" class="remove-field">Remove</button>
        </div>
      <% end %>
    </template>

    <a id="add-field" class="btn btn-primary" href="#">Add Custom Field</a>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
