<h1>Collections#show</h1>
<%= link_to "Edit", edit_collection_path(@collection) if user_signed_in? %>


<p>Find me in app/views/collections/show.html.erb</p>
<h1><%= @collection.name %></h1>
<p><%= @collection.description %></p>

<h2>Items</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tags</th>
      <% @collection.fields.each do |field| %>
        <% if %w[string date integer boolean].include?(field.field_type) %>
          <th><%= field.name %></th>
        <% end %>
      <% end %>
      <th> Delete </th>
      <th> Update </th>
    </tr>
  </thead>
  <tbody>

  
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name,collection_item_path(@collection.id,item.id) %></td>
        
        <td><%= item.tags %></td>
        <% @collection.fields.each do |field| %>
          <% if %w[string date integer boolean].include?(field.field_type) %>
          <% value=item.item_values.find { |iv| iv.field_id == field.id }&.value %>
            <% if field.field_type=="boolean"%>
                
                <td><%= value=="1"? "true" : "false" %></td>
            <%else%>
                <td><%=value%></td>
            <%end%>
          <% end %>
          
        <% end %>
        <td>
        <%= button_to "Delete", collection_item_path(@collection, item), method: :delete, data: { confirm: "Are you sure you want to delete this item?" }, class: "btn btn-danger" %>
        </td>
        <td><%= link_to "Edit", edit_collection_item_path(@collection, item) %></td>
        
      </tr>
    <% end %>
  </tbody>
  
</table>
<%= link_to 'add item', new_collection_item_path(@collection), class: 'btn btn-primary' %>