
<%= link_to "Edit", edit_collection_path(@collection), class: "btn btn-warning mb-3" if user_signed_in? && (@collection.user.id == current_user.id || current_user.admin?) %>

<% theme_class = @light_theme ? 'bg-light text-dark' : 'bg-dark text-light' %>
<% table_class = @light_theme ? 'table-light' : 'table-dark' %>

<div class="text-center mb-3 <%= theme_class %> p-3 rounded">
  <h1>Name: <%= @collection.name %></h1>
  <p>Description: <%= @collection.description %></p>
  <p>Category: <%= @collection.category %></p>
  <p>Owner: <%= @collection.user.name %></p>
</div>

<h2>Items</h2>
<table class="table table-striped <%= table_class %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tags</th>
      <% @collection.fields.each do |field| %>
        <% if %w[string date integer boolean].include?(field.field_type) %>
          <th><%= field.name %></th>
        <% end %>
      <% end %>
      <% if user_signed_in? && (@collection.user.id == current_user.id || current_user.admin?) %>
        <th>Delete</th>
        <th>Update</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr class="<%= theme_class %>">
        <td><%= link_to item.name, collection_item_path(@collection.id, item.id), class: "text-decoration-none #{theme_class}" %></td>
        <td><%= item.tags %></td>
        <% @collection.fields.each do |field| %>
          <% if %w[string date integer boolean].include?(field.field_type) %>
            <% value = item.item_values.find { |iv| iv.field_id == field.id }&.value %>
            <% if field.field_type == "boolean" %>
              <td><%= value == "1" ? "true" : "false" %></td>
            <% else %>
              <td><%= value %></td>
            <% end %>
          <% end %>
        <% end %>
        <% if user_signed_in? && (@collection.user.id == current_user.id || current_user.admin?) %>
          <td>
            <%= button_to "Delete", collection_item_path(@collection, item), method: :delete, data: { confirm: "Are you sure you want to delete this item?" }, class: "btn btn-danger btn-sm" %>
          </td>
          <td>
            <%= link_to "Edit", edit_collection_item_path(@collection, item), class: "btn btn-primary btn-sm" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add Item', new_collection_item_path(@collection), class: 'btn btn-primary mt-3' if user_signed_in? && (@collection.user.id == current_user.id || current_user.admin?) %>
