<%if user_signed_in?%>
  <% theme_class = current_user&.light_theme ? 'light' : 'dark' %>
<%else%>
  <% theme_class = 'light' %>
<%end%>






<nav class="navbar navbar-expand-lg navbar-<%=theme_class%> bg-<%=theme_class%>">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Collection Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
        <%=link_to "Home", root_path, class: "nav-link"  %> 
        </li>
        <li class="nav-item">
        <%=link_to "All Collections", collections_index_path, class: "nav-link"  %>
        </li>
        <% if !user_signed_in? %>

            <li class="nav-item">
                <%=link_to "Sign Up", new_user_registration_path, class: "nav-link"  %>
                
            </li>
            <li class="nav-item">
                <%=link_to "Sign In", user_session_path, class: "nav-link"  %>
            </li>
            </li>

  
        <% else %>
        
            <li class="nav-item">
            <%=link_to "My Collections", mycollection_path, class: "nav-link"  %> 
            </li>  
            <li class="nav-item">
            <%=link_to "Edit User", edit_user_registration_path, class: "nav-link"  %> 
            </li>   

            <li class="nav-item">
            <%= link_to "Toggle Theme", toggle_theme_path, method: :post, remote: true, class: "nav-link"  %>
            </li>
            <li class="nav-item">
            <%=link_to "New Collection",new_collection_path, class: "nav-link"  %>
            </li>
            <%if current_user.admin? %>
                <li class="nav-item">
                <%=link_to "Admin Panel", admins_admin_path, class: "nav-link"  %> 
                </li>    
            <%end%>  
        
        <%end%>
    
        
      </ul>
    </div>
  </div>
  <div class="ml-auto"> <!-- This div aligns content to the right -->
  <% if user_signed_in? %>
    <%= form_tag(destroy_user_session_path, method: :delete) do %>
        <%= submit_tag "Sign out", class: "btn btn-danger" %>
    <% end %>
  <% end %>

</div>
</nav>