<h1>Tickets#index</h1>
<p>Find me in app/views/tickets/index.html.erb</p>
<h1>Your Tickets</h1>
<table>
  <thead>
    <tr>
      <th>Summary</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Link</th>
      <th>Jira Ticket</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.summary %></td>
        <td><%= ticket.priority %></td>
        <td><%= ticket.status %></td>
        <td><%= link_to 'View Page', ticket.link %></td>
        <td><%= link_to 'View in Jira', "https://my-collection-course-project.atlassian.net/browse/#{ticket.jira_key}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
