<h1>Item Details</h1>

<table>
  <thead>
    <tr>
      <th><h2>Name</h2></th>
      <th><h2>Tags</h2></th>
      <% @collection.fields.each do |field| %>
        <th> <%= field.name %> </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><h5><%= @item.name %></h5></td>
      <td><h5><%= @item.tags %></h5></td>
      <% @collection.fields.each do |field| %>
        <% if %w[string date integer boolean].include?(field.field_type) %>
            <% value=@item.item_values.find { |iv| iv.field_id == field.id }&.value %>
            <% if field.field_type=="boolean"%>
                <td><%= value=="1"? "true" : "false" %></td>
            <%else%>
                <td><%=value%></td>
            <%end%>
        <%end%>
      <%end%>
      <% if user_signed_in? %>
        <td><%= button_to 'Like', collection_item_likes_path(@collection, @item) %></td>
        <td><%= button_to 'Unlike',collection_item_likes_path(@collection,@item),method: :delete %></td>
      <%end%>
    </tr>
    <tr>
        <td>
          <h3>Comments</h3>
        </td>

    </tr>
    <tr>
        <td>
          <div id ="comments">
            <%= render @item.comments%>
          </div>
        </td>
    </tr>
    <tr>
        <td>
        <%if user_signed_in?%>
          <%= render partial: 'comments/form',locals: { collection:@collection,item:@item }%>
        <%end%>
    </td>
  </tr>
  </tbody>
</table>
