<h1>Item Details</h1>

<span id="like_counts"><%= @item.likes.count%> Likes</span>
<table>
  <thead>
    <tr>
      <th><h2>Name</h2></th>
      <th><h2>Tags</h2></th>
      <% @collection.fields.each do |field| %>
        <th> <%= field.name %> </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><h5><%= @item.name %></h5></td>
      <td><h5><%= @item.tags %></h5></td>
      <% @collection.fields.each do |field| %>
        <% if %w[string date integer boolean].include?(field.field_type) %>
            <% value=@item.item_values.find { |iv| iv.field_id == field.id }&.value %>
            <% if field.field_type=="boolean"%>
                <td><%= value=="1"? "true" : "false" %></td>
            <%else%>
                <td><%=value%></td>
            <%end%>
        <%end%>
      <%end%>
      <% if user_signed_in? %>
        <% if current_user.likes.exists?(item: @item) %>
          <td><%= button_to 'Unlike',collection_item_likes_path(@collection,@item),method: :delete %></td>
        <%else%>
          <td><%= button_to 'Like', collection_item_likes_path(@collection, @item) %></td>
          <%end%>
        
      <%end%>
    </tr>
    <tr>
        <td>
          <h3>Comments</h3>
        </td>

    </tr>
    <tr>
        <td>
        <%= turbo_stream_from :mycomment_list%>
        
          <div id ="comments">
          

          
          <% @item.comments.each do |comment|%>
            <%= render partial: "comments/comment", locals: { comment: comment } %>
            <%= button_to 'delete' ,collection_item_comment_path(comment.item.collection,comment.item,comment),method: :delete if comment.user==current_user%>
            <%= link_to 'edit',edit_collection_item_comment_path(comment.item.collection,comment.item,comment) if comment.user==current_user%>
          <%end%>
            
          </div>
        </td>
    </tr>
    <tr>
        <td>
        <%if user_signed_in?%>
          <%= render partial: 'comments/form',locals: { collection:@collection,item:@item }%>
        <%end%>
    </td>
  </tr>
  </tbody>
</table>
