<!DOCTYPE html>
<html>
  <head>
    <title>CourseProject</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag "trix" %>
    <%= javascript_include_tag "actiontext" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "add_field" , 'data-turbolinks-track': 'reload'%>
    <%= javascript_importmap_tags %>
    
    

    <!-- Include Bootstrap JavaScript if needed -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

   
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "add_field" %>
    <% if notice.present? %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= notice %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  </head>
  <body>

    <%= render 'pages/navbar' %>
    
    <%if user_signed_in?%>
      <p>Hi <%=current_user.name%></p>
    <%end%>
    <%= yield %>
    <footer>
    <%= link_to 'Create support ticket', new_ticket_path %>
  </footer>
  </body>
</html>
